<div>
    <h1>Perfil de Admin </h1>
    <p>Hola, {{user.name}}</p> Bienvenido!!! 
   <br>
    <p>Permiso para hacer el CRUD de productos </p>

    <p> Profile-admin: <a href="/users">Ingresa</a></p>
    <p> <a href="/api/sessions/logout">Logout</a></p>
</div>
<script src="/js/admin.js"></script>