<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
        <br><br><hr>
    <div class="divp">
        <p>¿No estás registrado? <a href="/users/register">Regístrarse aquí</a></p>
        <p>¿Tienes cuenta de Github? <a href="/github/login">Login por Github</a></p>
    </div>

    </form>


</div>
<script src="/js/login.js"></script>