<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="/css/styles.css">

    <title>{{title}}</title>
</head>
    <body>
    <header>
 <nav class="navbar">
  <div class="logo">
    <img src="/static/img/loguito.jpg" alt="Logo" />
    <h1>ShopFem</h1>
  </div>
  <ul class="nav-links">
    <li><a href="/">Inicio</a></li>
    <li><a href="/">Productos</a></li>
    <li><a href="/users/register">Registro</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</nav>

    <div class="social-links">
    <a href="https://mail.google.com/" target="_blank" title="Gmail">
      <i class="fab fa-google"></i> <!-- Icono de Gmail -->
    </a>
    <a href="https://wa.me/1234567890" target="_blank" title="WhatsApp">
      <i class="fab fa-whatsapp"></i> <!-- Icono de WhatsApp -->
    </a>
    <a href="https://www.instagram.com/yourusername/" target="_blank" title="Instagram">
      <i class="fab fa-instagram"></i> <!-- Icono de Instagram -->
    </a>
    <a href="https://www.linkedin.com/in/yourusername/" target="_blank" title="LinkedIn">
      <i class="fab fa-linkedin"></i> <!-- Icono de LinkedIn -->
    </a>
  </div>
</header>

<h1>Bienvenidos a mi tienda: ShopFem</h1>

        {{{body}}}

    </body>
</html>